<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/g.dnyandeo.bhosale/Desktop/Automation Testing/Automation Testing/com.app.vwo">
        <classes>
            <class name="com.vwo.tests.LoginTest">
                <methods>
                    <include name="testWithInvalidCredentials"/>
                    <include name="testWithValidCredentials"/>
                </methods>
            </class>
            <class name="com.vwo.tests.EditProfileTest">
                <methods>
                    <include name="testEditUserProfile"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>