<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test thread-count="2" parallel="methods" verbose="2" preserve-order="true" name="C:/Users/g.dnyandeo.bhosale/Desktop/Automation Testing/Automation Testing/com.app.vwo">
        <classes>
            <class name="com.vwo.tests.LoginTest">
                <methods>
                    <include name="testWithInvalidCredentials"/>
                </methods></class>
            
            <class name="com.vwo.tests.TestDriver">
                <methods>
                    <include name="negativeTC01"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>